In [1]:
###Generates whether a county is majority white
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
#load data
df = pd.read_csv("./cc-est2012-alldata.csv", encoding="latin-1")
df.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,...,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,...,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,...,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,...,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,...,48,44,7,5,0,2,2,1,3,1

In [7]:
#Remove extra columns
df1=df.filter(items=['STNAME','CTYNAME', 'YEAR','AGEGRP','TOT_POP','WA_MALE','WA_FEMALE'])
df1.head()

    STNAME         CTYNAME  YEAR  AGEGRP  TOT_POP  WA_MALE  WA_FEMALE
0  Alabama  Autauga County     1       0    54571    21295      22002
1  Alabama  Autauga County     1       1     3579     1411       1316
2  Alabama  Autauga County     1       2     3991     1521       1526
3  Alabama  Autauga County     1       3     4290     1658       1620
4  Alabama  Autauga County     1       4     4290     1628       1585

In [9]:
df2 = df1.query('YEAR == 5 & AGEGRP == 0')
df2.head()

      STNAME         CTYNAME  YEAR  AGEGRP  TOT_POP  WA_MALE  WA_FEMALE
76   Alabama  Autauga County     5       0    55514    21383      22185
171  Alabama  Baldwin County     5       0   190790    81423      85193
266  Alabama  Barbour County     5       0    27201     7397       6338
361  Alabama     Bibb County     5       0    22597     8903       8326
456  Alabama   Blount County     5       0    57826    27498      28129

In [14]:
df2['Majority_White'] = [(df2.iloc[i,5]+df2.iloc[i,6])/df2.iloc[i,4]> 0.5 for i in range(len(df2)) ]
df2['Majority_White'][:50]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

76       True
171      True
266      True
361      True
456      True
551     False
646      True
741      True
836      True
931      True
1026     True
1121     True
1216     True
1311     True
1406     True
1501     True
1596     True
1691     True
1786     True
1881     True
1976     True
2071     True
2166     True
2261    False
2356     True
2451     True
2546     True
2641     True
2736     True
2831     True
2926     True
3021    False
3116    False
3211     True
3306     True
3401     True
3496     True
3591     True
3686     True
3781     True
3876     True
3971     True
4066    False
4161    False
4256     True
4351    False
4446     True
4541     True
4636     True
4731     True
Name: Majority_White, dtype: bool

In [18]:
sum(df2['Majority_White'])/len(df2['Majority_White'])

0.9455933821189946

In [19]:
#^^Yikes
df2['Percent_White'] = [(df2.iloc[i,5]+df2.iloc[i,6])/df2.iloc[i,4] for i in range(len(df2)) ]
df2.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,WA_MALE,WA_FEMALE,Majority_White,Percent_White
76,Alabama,Autauga County,5,0,55514,21383,22185,True,0.784811
171,Alabama,Baldwin County,5,0,190790,81423,85193,True,0.873295
266,Alabama,Barbour County,5,0,27201,7397,6338,True,0.504945
361,Alabama,Bibb County,5,0,22597,8903,8326,True,0.762446
456,Alabama,Blount County,5,0,57826,27498,28129,True,0.961972

In [21]:
df_final = df2.filter(items=['STNAME','CTYNAME','Majority_White','Percent_White'])
df_final.head()

      STNAME         CTYNAME  Majority_White  Percent_White
76   Alabama  Autauga County            True       0.784811
171  Alabama  Baldwin County            True       0.873295
266  Alabama  Barbour County            True       0.504945
361  Alabama     Bibb County            True       0.762446
456  Alabama   Blount County            True       0.961972

In [22]:
df_final.to_csv("majority_white2012.csv", index=False)